---
layout: page
title : "Siddhartha Saxena"
description: "Learner"
header-img: "img/home-bg.jpg"
---

<!-- About Content -->
<!-- <link rel="stylesheet" href="button/css/style.css"> -->
<section id="about">
	<div style="margin-left:-100;margin-right:-100">
		<img align="left" style="float:left;width:200px;margin-right:20px" src="img/profile.jpg">
		<p>
			Hi, I am an aspiring Machine Learning Researcher looking to make a dent in this tiny world. I am presently pursuing undergrad studies in the field of Computer Science at I.I.T. Kanpur. I believe in making a difference, still wondering if anything matters at all. I like to think about things and the meaning behind them hence I love to analyze stuff.
		</p>
		<p>
			Apart from that, I am avid FC Barcelona, as can be seen from the favicon of this site. I like to read articles, write for Vox Populi, IITK's Journalism Body and cherish suspense thrillers.
		</p>
		<p>
			Check-out my <font size="4"><b>blog</b></font> from by clicking on the button at the top right, maybe somthing might pique your interest! I also write machine learning research paper summaries, that are consisely present <a href="https://github.com/siddsax/paperSum">here</a> while codes to replicate some of my tutorials can also be found on my <a href="https://github.com/siddsax">Github</a>. 
		</p>
	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>Here are my past Projects and Internships.</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" width="300" >
			<!-- class="img-responsive" alt="" -->
			</a>
		</div>
		{% endfor %}
	</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals" background="img/proj-bg.jpg">

		{% for item in site.portfolio %}
		{% if item.anchor == "yodlee" %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<!-- Image of the project -->
				  <center><img src="{{ item.image_rec }}" width="500"></center>
					<h2 style="margin:40" >{{ item.internal_title }}</h2>
					<!-- Three part description -->
					<div class="row">
						<div class="col-md-5" style="margin:40px;margin-left:-230px">
							<h4>Preface</h4>
							<p align="justify">{{ item.intro }}</p>
						</div>
						<div class="col-md-5" style="margin:40px">
							<h4>Problem</h4>
							<p align="justify">{{ item.problem }}</p>
						</div>
						<div class="col-md-5" style="margin:40px;margin-right:-230px" >
							<h4>Results</h4>
							<p align="justify">{{ item.results }}</p>
						</div>		
					</div>
					<div class="row">	
					<!--  Links to report -->
						<div class="col-md-7" style="margin:40px;margin-left:-200px">
							<a href= {{ item.code }}><button type="button" class="btn btn-default">Code</button></div></a>
						<div class="col-md-7" style="margin:40px;margin-right:-200px">	
							<a href={{ item.report }}><button type="button" class="btn btn-default">Report</button></div></a>
						</div>
					</div>	
				</div>
			</div>
		</div>
		{% endif %}
		{% if item.anchor == "flows" %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<!-- Image of the project -->
				  <!-- <center><img src="{{ item.image_rec }}" width="500"></center> -->
					<h2 style="margin:40" >{{ item.internal_title }}</h2>
					<!-- Three part description -->
					<div class="row">
						<div class="col-md-4" style="margin:40px;margin-left:-230px">
							<h4>Preface</h4>
							<p align="justify">{{ item.intro }}</p>
						</div>
						<div class="col-md-6" style="margin:40px">
							<h4>Abstract</h4>
							<p align="justify">{{ item.problem }}</p>
						</div>
						<div class="col-md-4" style="margin:40px;margin-right:-230px" >
							<h4>Results</h4>
							<p align="justify">{{ item.results }}</p>
						</div>		
					</div>
					<div class="row">	
					<!--  Links to report -->
						<div class="col-md-7" style="margin:40px;margin-left:-200px">
							<a href= {{ item.code }}><button type="button" class="btn btn-default">Code</button></div></a>
						<div class="col-md-7" style="margin:40px;margin-right:-200px">	
							<a href={{ item.report }}><button type="button" class="btn btn-default">Arxiv Preprint</button></div></a>
						</div>
					</div>	
				</div>
			</div>
		</div>
		{% endif %}
		{% if item.anchor == "auv" %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<!-- Image of the project -->
				  <!-- <center><img src="{{ item.image_rec }}" width="500"></center> -->
					<h2 style="margin:40" >{{ item.internal_title }}</h2>
					<!-- Three part description -->
					<div class="row">
						<div class="col-md-5" style="margin:40px;margin-left:-230px">
							<h4>Preface</h4>
							<p align="justify">{{ item.intro }}</p>
						</div>
						<div class="col-md-5" style="margin:40px">
							<h4>Abstract</h4>
							<p align="justify">{{ item.problem }}</p>
						</div>
						<div class="col-md-5" style="margin:40px;margin-right:-230px" >
							<h4>Results</h4>
							<p align="justify">{{ item.results }}</p>
						</div>		
					</div>
					<div class="row">	
					<!--  Links to report -->
						<div class="col-md-5" style="margin:40px;margin-left:-250px">
							<a href= {{ item.report }}><button type="button" class="btn btn-default">Report</button></div></a>
						<div class="col-md-5" style="margin:40px">
							<a href= {{ item.utube }}><button type="button" class="btn btn-default">Youtube</button></div></a>
						<div class="col-md-5" style="margin:40px;margin-right:-250px">
							<a href= {{ item.code }}><button type="button" class="btn btn-default">Code</button></div></a>
						<div class="col-md-7" style="margin:40px;margin-left:-150px">
							<a href= {{ item.website }}><button type="button" class="btn btn-default">Website</button></div></a>
						<div class="col-md-7" style="margin:40px;margin-right:-150px">	
							<a href={{ item.ppt }}><button type="button" class="btn btn-default">Presentation</button></div></a>
						</div>
					</div>	
				</div>
			</div>
		</div>
		{% endif %}
		{% if item.anchor == "docclustering" %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<!-- Image of the project -->
				  <!-- <center><img src="{{ item.image_rec }}" width="500"></center> -->
					<h2 style="margin:40" >{{ item.internal_title }}</h2>
					<!-- Three part description -->
					<div class="row">
						<div class="col-md-4" style="margin:40px;margin-left:-230px">
							<h4>Preface</h4>
							<p align="justify">{{ item.intro }}</p>
						</div>
						<div class="col-md-6" style="margin:40px">
							<h4>Approach</h4>
							<p align="justify">{{ item.problem }}</p>
						</div>
						<div class="col-md-4" style="margin:40px;margin-right:-230px" >
							<h4>Results</h4>
							<p align="justify">{{ item.results }}</p>
						</div>		
					</div>
					<div class="row">	
					<!--  Links to report -->
						<div class="col-md-7" style="margin:40px;margin-left:-200px">
							<a href= {{ item.code }}><button type="button" class="btn btn-default">Code</button></div></a>
						<div class="col-md-7" style="margin:40px;margin-right:-200px">	
							<a href={{ item.report }}><button type="button" class="btn btn-default">Report</button></div></a>
						</div>
					</div>	
				</div>
			</div>
		</div>
		{% endif %}
		{% if item.category == "Talk" %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<center><img src="{{ item.image }}" width="500"></center>
					<h2 style="margin:40" >{{ item.internal_title }}</h2>
					<p align="justify">{{ item.details }}</p>
					<center><a href={{ item.report }}><button type="button" class="btn btn-default">Presentation</button></a></center>
						</div>
					</div>	
				</div>
			</div>
		</div>
		{% endif %}
		{% if item.anchor == "hand_rec" %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<!-- Image of the project -->
				  <!-- <center><img src="{{ item.image_rec }}" width="500"></center> -->
					<h2 style="margin:40" >{{ item.internal_title }}</h2>
					<!-- Three part description -->
					<div class="row">
						<div class="col-md-4" style="margin:40px;margin-left:-150px">
							<h4>Preface</h4>
							<p align="justify">{{ item.intro }}</p>
						</div>
						<div class="col-md-4" style="margin:40px">
							<h4>Sentimental Analysis</h4>
							<p align="justify">{{ item.problem_1 }}</p>
						</div>
						<div class="col-md-4" style="margin:40px;margin-right:-150px" >
							<h4>Handwriting Recognition</h4>
							<p align="justify">{{ item.problem_2 }}</p>
						</div>		
					</div>
					<div class="row">	
					<!--  Links to report -->
						<div class="col-md-7" style="margin:40px;margin-left:-200px">
							<a href= {{ item.code }}><button type="button" class="btn btn-default">Code</button></div></a>
						<div class="col-md-7" style="margin:40px;margin-right:-200px">	
							<a href={{ item.report }}><button type="button" class="btn btn-default">Presentation</button></div></a>
						</div>
					</div>	
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</section>
<!-- 
    {% assign i = forloop.index | modulo:5 %}
    <h2>{{ i }}</h2>
  	{% if i == 4 %}
  		<img src="as" align="left" width="300">
	    <h2>{{ i }}</h2>
		{% endif %}

 -->